<phpunit bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    cacheTokens="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    strict="false"
    verbose="true"
    colors="true">
    <testsuite name="Laravel modules loader library">
        <directory suffix="Test.php" phpVersion="7.0" phpVersionOperator=">=">./tests</directory>
    </testsuite>
    <logging>
        <log type="coverage-html" target="./tests/logs/phpunit/coverage" charset="UTF-8" yui="true" highlight="false" lowUpperBound="35" highLowerBound="80" />
        <log type="testdox-html" target="./tests/logs/phpunit/testdox.html" />
        <log type="coverage-clover" target="./tests/logs/phpunit/clover.xml"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
